[{:network "jackmaruska@gmail.com"
  :url     "mailto:jackmaruska@gmail.com"
  :icon    "fa fa-envelope"
  :resume? true}
 {:network "LinkedIn"
  :url     "https://www.linkedin.com/in/johnwmaruska"
  :icon    "fa fa-linkedin"
  :resume? true}
 {:network "GitHub"
  :url     "https://github.com/johnmaruska"
  :icon    "fa fa-github"
  :resume? true}
 {:network "Twitter"
  :url     "https://twitter.com/john_maruska"
  :icon    "fa fa-twitter"}
 {:network "Mastodon - Hachyderm"
  :url     "https://hachyderm.io/@johnmaruska"
  :icon    "fa fa-mastodon"}
 {:network "Cohost"
  :url     "https://cohost.org/johnmaruska"
  :icon    nil}]
