/**
 * TODO:
 * - Override theme values with my own
 * -
 **/

:root {
    /********
     * Font Sizes: Major Second scale factor 1.125
     *
     * Credit "Size me up" by Saron Yitbarek aka Not A Designer
     * https://notadesigner.io/p/typographic-scales
     ********/
    --title-font-size: calc(3.627rem * 1.125);
    --display-1-font-size: 3.247rem;
    --display-2-font-size: 2.887rem;
    --heading-1-font-size: 2.566rem;
    --heading-2-font-size: 2.281rem;
    --heading-3-font-size: 2.027rem;
    --heading-4-font-size: 1.802rem;
    --heading-5-font-size: 1.602rem;
    --heading-6-font-size: 1.424rem;
    --body-text-1-font-size: 1.265rem;
    --body-text-2-font-size: 1.125rem;
    --body-text-3-font-size: 1rem;
    --label-1-font-size: 0.889rem;
    --label-2-font-size: 0.79rem;
    --label-3-font-size: 0.702rem;

    /********
     * Color Theme: Solarized by Ethan Schoonover
     *
     * Credit "Solarized" by Ethan Schoonover
     * https://ethanschoonover.com/solarized/
     ********/
    --base-dark-3-color: #002b36;
    --base-dark-2-color: #073642;
    --base-dark-1-color: #586e75;
    --base-dark-0-color: #657b83;
    --base-light-0-color: #839496;
    --base-light-1-color: #93a1a1;
    --base-light-2-color: #eee8d5;
    --base-light-3-color: #fdf6e3;
    --yellow-color: #b58900;
    --orange-color: #cb4b16;
    --red-color: #dc322f;
    --magenta-color: #d33682;
    --violet-color: #6c71c4;
    --blue-color: #268bd2;
    --cyan-color: #2aa198;
    --green-color: #859900;
}

* {
    color: var(--base-dark-3-color);
}

/********
 **** Margin and Spacing rules
 *
 * Use increments of 0.5rem (8px made relative) for aligning elements.
 * 0.5rem , 1rem, 2rem, ..., 8rem, ... 67.5rem ... 135rem
 *
 * Credit "Let's get griddy" by Saron Yitbarek aka Not A Designer
 * https://notadesigner.io/p/8px-grid
 ********/

/***********************************************************************
  *
  *                         Resume Page
  *
  ***********************************************************************/

/**
 * TODO:
 * - New font family, at least for Company name. Looks eh.
 * - Intro section needs better layout in general.
 * - Remove "Professional Profile" header? Right into intro?
 * - Add "Experience" / "Job History" section
 * - Add link to PDF version that I submit to websites.
 * - Reduce to 2pg? Rename to CV?
 * - Cleaner display for University name
 * - Create a "Table of Contents" sidebar
 **/

.resume {
    margin: 0 2rem;

    a {
        text-decoration: underline;
    }
}
.resume .section {
    margin: 2rem 0;

    h1 {
        font-size: var(--display-1-font-size);
    }
    h2 {
        font-size: var(--heading-2-font-size);
    }
}

.resume .introduction {
    display: grid;
    .name {
        font-size: var(--title-font-size);
        font-weight: bold;
        grid-row: 1;
    }
    .role {
        font-size: var(--heading-2-font-size);
        grid-row: 2;
    }
    .location {
        grid-row: 3;
        font-size: var(--heading-6-font-size);
    }
}

.resume .experience {
    h2 {
        margin-bottom: 0;
    }
    ul.experience {
        list-style: none;
    }

    .company {
        margin: 1rem 0 4rem;
        list-style: none;

        .row {
            display: grid;
        }
        .name {
            font-weight: bold;
            font-size: var(--heading-6-font-size);
            grid-row: 1;
        }
        .interval {
            font-size: var(--heading-6-font-size);
            grid-row: 1;
            text-align: right;
        }
        .role {
            font-size: var(--heading-6-font-size);
            grid-column: 1 / 3;

            display: grid;
            .title {
                grid-row: 1;
            }
            .interval {
                grid-row: 1;
                text-align: right;
                font-size: var(--body-text-1-font-size);
            }
        }
        .keywords {
            margin-top: 0.5rem;
            margin-bottom: 0;
            font-size: var(--label-1-font-size);
            color: var(--base-dark-1-color);
        }
        ul.details {
            margin: 1.5rem 0 0 1rem;

            li {
                margin: 1rem 0 0 2rem;
            }
        }
    }
}

.resume .summary {
    p {
        margin: 1rem;
    }
}

.resume .education {
    font-size: var(--heading-6-font-size);
    .institution {
        font-size: var(--heading-6-font-size);
    }
    .degree {
        font-size: var(--body-text-1-font-size);
    }
}

/*
-Between sections, top and bottom
-Between companies, top and bottom
-Top and left margin of details class
-Resume div, left and right, to decrease the number of words on each line

Also consider sizing's role in creating visual hierarchy.
-Your name is the most important part of this. Make it way bigger, and probably bold.
-Decrease the size of the role titles, and bring them closer to the company names, since they go together
*/
