*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FDF6E3;
    color: #002B36;
    font-family: Muli, sans-serif;
    font-size: 1.25em;
    word-wrap: break-word;
}

h1, h2 {
    font-family: "Space Mono", monospace;
}
h1.name {
    margin-top: 0;
}

a {
    color: inherit;
    transition: 0.3s;
}

a:hover {
    color:#2aa198;
}

.header {
    background-color: #002B36;
    color: #FDF6E3;
    display: inline-block;
    width: 100%;
    padding: 2% 2% 1% 2%;
}

.header .site-title {
    float: left;
    font-weight: bold;
    font-size: 1.3em;
}
nav ul {
    float: right;
    line-height: 1.5;
}
nav li {
    display: inline;
    margin-right: 1em;
}
.header a {
    text-decoration: none;
}

.contents {
    max-width: 800px;
    margin: 0 auto;
}
.contents * {
    margin: 1em;
}
