/***********************************************************************
 *
 *                         Predefined Values
 *
 ***********************************************************************/

:root {

    /********
     * Font Sizes: Major Second scale factor 1.125
     *
     * Credit "Size me up" by Saron Yitbarek aka Not A Designer
     * https://notadesigner.io/p/typographic-scales
     ********/
    --display-1-font-size: 3.247rem;
    --display-2-font-size: 2.887rem;
    --heading-1-font-size: 2.566rem;
    --heading-2-font-size: 2.281rem;
    --heading-3-font-size: 2.027rem;
    --heading-4-font-size: 1.802rem;
    --heading-5-font-size: 1.602rem;
    --heading-6-font-size: 1.424rem;;
    --body-text-1-font-size: 1.265rem;
    --body-text-2-font-size: 1.125rem;
    --body-text-3-font-size: 1rem;
    --label-1-font-size: 0.889rem;
    --label-2-font-size: 0.790rem;
    --label-3-font-size: 0.702rem;

    /********
     * Color Theme: Solarized by Ethan Schoonover
     *
     * Credit "Solarized" by Ethan Schoonover
     * https://ethanschoonover.com/solarized/
     ********/
    --base-dark-3-color:  #002b36;
    --base-dark-2-color:  #073642;
    --base-dark-1-color:  #586e75;
    --base-dark-0-color:  #657b83;
    --base-light-0-color: #839496;
    --base-light-1-color: #93a1a1;
    --base-light-2-color: #eee8d5;
    --base-light-3-color: #fdf6e3;
    --yellow-color:       #b58900;
    --orange-color:       #cb4b16;
    --red-color:          #dc322f;
    --magenta-color:      #d33682;
    --violet-color:       #6c71c4;
    --blue-color:         #268bd2;
    --cyan-color:         #2aa198;
    --green-color:        #859900;
}

/********
 **** Margin and Spacing rules
 *
 * Use increments of 0.5rem (8px made relative) for aligning elements.
 * 0.5rem , 1rem, 2rem, ..., 8rem, ... 67.5rem ... 135rem
 *
 * Credit "Let's get griddy" by Saron Yitbarek aka Not A Designer
 * https://notadesigner.io/p/8px-grid
 ********/

/***********************************************************************
 *
 *                         Site Theme
 *
 **********************************************************************/

* {
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    margin: 0;
}

body {
    background-color: var(--base-light-3-color);
    color: var(--base-dark-3-color);
    font-family: Muli, sans-serif;
    word-wrap: break-word;
    padding: 2rem;
}

/*
h1, h2 {
    font-family: "Space Mono", monospace;
}
*/

a {
    color: inherit;
    transition: 0.3s;
}

a:hover {
    color: var(--cyan-color);
}

li {
    margin-left: 1.5rem;
}

/****************************************
 *
 *         Navbar
 *
 ****************************************/

#navbar ul {
    float: right;
    line-height: 1.5;
}
#navbar li {
    display: inline;
    margin-right: 1em;
}

/***********************************************************************
 *
 *                         Homepage
 *
 ***********************************************************************/

body#homepage .contents {
    max-width: 50rem;
    margin: 0 auto;  /* center elements */
}

body#homepage .contents * {
}

/***********************************************************************
 *
 *                       Blogposts Pages
 *
 ***********************************************************************/

body#blogpost {
}

/***********************************************************************
 *
 *                         Posts Hub
 *
 ***********************************************************************/

body#post-hub .post-entry {
}

body#post-hub .post-header {
}

body#post-hub .post-title {
}

body#post-hub .post-date {
}

body#post-hub .post-summary {
}

/***********************************************************************
 *
 *                         Links Page
 *
 ***********************************************************************/

body#links .column {
    max-width: 37.5rem;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--base-dark-3-color);
    color: var(--base-light-3-color);
}

body#links img.avatar {
    border-radius: 50%;
    border: 0.2em solid;

    margin: 1em auto;
    display: block;
    padding: 0;
    width: 40%;
}

body#links p {
    text-align: center;
    margin: 1em;
}

body#links .links {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
body#links .links li {
    margin: 1em;
}
body#links .links li a {
    display: block;
    text-align: center;
    background-color: var(--base-light-3-color);
    color: var(--base-dark-3-color);
    margin: 1em 2em;
    padding: 4%;
    font-weight: bold;
}
body#links .links li a i {
    margin: 0.5rem 0.5rem;
}

/***********************************************************************
 *
 *                         Resume Page
 *
 ***********************************************************************/

body#resume {
    max-width: 70rem;
}

body#resume .section h1 {
    font-size: var(--display-1-font-size);
}
body#resume .section h2 {
    font-size: var(--heading-1-font-size);
}


body#resume .summary p {
    padding: 0 1rem 1rem;
}

body#resume .experience .company .name {
    font-size: var(--heading-4-font-size);
}
body#resume .experience .company .interval {
    font-size: var(--heading-5-font-size);
}
body#resume .experience .company .position {
    font-size: var(--heading-3-font-size);
}
body#resume .experience .keywords {
    font-size: var(--label-1-font-size);
    color: var(--base-dark-1-color);
}

body#resume .links i.fa {
    font-size: 2rem;
    padding: 1rem;
    transition: 0.3s
}

body#resume .experience li.company {
    margin-left: 0;
}
body#resume .experience .name {
    font-weight: bold;
}

body#resume .experience .position {
    font-weight: bold;
}

body#resume ul.experience {
    list-style: none;
}
